/* Resetando o estilo padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ddd;
}
/* Contêiner do vídeo */
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio (altura/width = 9/16 = 0.5625) */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin-bottom: 20px; /* Espaço inferior, se necessário */
}

/* Tornando o vídeo responsivo */
.responsive-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Cabeçalho */
header {
    background-color: #1c1c1c;
    padding: 15px;
    color: white;
    text-align: center;
}

header .logo h1 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #f1c40f;
    margin-bottom: 10px;
    }
    
    header .logo p {
        font-size: 14px;
        color: #bbb;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    margin-top: 10px;
}

header nav ul li {
    margin: 10px 0;
}

header nav ul li a {
    color: #bbb;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #f1c40f;
}

/* Home (Imagem de destaque) */
.home-banner {
    background-image: url('im2.jpg');
    background-size: cover;
    height: 300px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}
/* Home (Imagem de destaque) */



.home-banner h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.home-banner p {
    font-size: 16px;
}
/* seção Batalha */
/* seção Batalha */
.batalha {
    padding: 20px;
    background-color: #181818;
    text-align: center;
    background-image: url('rayla-luta-maio.jpg');
        background-size: cover;
        height: 1000px;
        text-align: center;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
  
}





/* Seção Sobre */
.sobre {
    padding: 20px;
    background-color: #181818;
    text-align: center;
}

.sobre h2 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #f1c40f;
}

.sobre p {
    font-size: 16px;
    line-height: 1.6;
}


/* Seção Conquistas */
.conquistas {
    padding: 20px;
    background-color: #222;
    text-align: center;
}

.conquistas h2 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #f1c40f;
}

.conquistas p {
    font-size: 16px;
    line-height: 1.6;
}

/* Imagens do Ranking */
.imagem-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.imagem-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    max-height: 300px;
}
/* Portfolio de Fotos */
.portfolio {
    padding: 20px;
    background-color: #181818;
    text-align: center;
}

.portfolio h2 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #f1c40f;
}

.slider-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
}

.slide img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Vídeos */
iframe {
    width: 100%;
    max-width: 1280px;
    height: auto;
    border: none;
    margin-top: 20px;
}

/* Link para as Notícias */
.portfolio a {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.portfolio img {
    max-width: 100%;
    height: auto;
}
/* Contato */
.contato {
    padding: 20px;
    background-color: #121212;
    text-align: center;
}

.contato p {
    font-size: 18px;
    margin-bottom: 10px;
}

.contato a {
    font-size: 18px;
    color: #007bff;
    text-decoration: none;
}

.contato a:hover {
    text-decoration: underline;
}

/* WhatsApp Button */
.whatsapp-button button {
    background-color: #25D366;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.whatsapp-button button:hover {
    background-color: #128C7E;
}

/* Rodapé */
footer {
    background-color: #1c1c1c;
    color: white;
    text-align: center;
    padding: 20px;
}

footer .social-media a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer .social-media a:hover {
    color: #f1c40f;
}
